@import '~normalize.css/normalize';
@import 'definitions';

$device: 'default';

body {
  font-family: $FONT_FAMILY_DEFAULT;
  font-weight: $FONT_WEIGHT_NORMAL;
  font-size: $FONT_SIZE_DEFAULT;
  font-style: normal;
  background-color: $PAGE_BACKGROUND_COLOR;
  color: $TEXT_REGULAR_COLOR;
}

header, aside {
  background-color: $MODULE_BACKGROUND_COLOR;
  border: solid $MODULE_SHADOW_COLOR 0;
  position: fixed;
  left: 0;
}

header {
  width: 100%;
  height: $HEADER_HEIGHT_DEFAULT;
  top: 0;
  border-bottom-width: $BORDER_WIDTH;
  #logo {
    display: table;
    position: absolute;
    width: adjust_aside_width($device);
    height: inherit;
    font-weight: $FONT_WEIGHT_BOLD;
    text-transform: uppercase;
    text-align: center;
    border-right: solid $MODULE_SHADOW_COLOR $BORDER_WIDTH;
    * {
      height: inherit;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

aside {
  top: $HEADER_HEIGHT_DEFAULT + $BORDER_WIDTH;
  font-size: 105%;
  width: adjust_aside_width($device);
  height: 100%;
  border-right-width: $BORDER_WIDTH;
}

section {}

input[type=checkbox].ui-switch {
  @include form_element_reset();
  position: relative;
  width: 2em;
  height: 1em;
  background: $GREY_1;
  cursor: pointer;
  border-radius: 0.5em;
}

input[type=checkbox].ui-switch:before {
  content: '';
  position: absolute;
  width: calc(1em - (1em / 20) * 2); // TODO: might be an issue in IE 11
  height: calc(1em - (1em / 20) * 2);
  background: $WHITE_0;
  left: calc(1em / 20);
  top: calc(1em / 20);
  transition: all 150ms ease-out;
  border-radius: 50%;
  margin: inherit;
}

input[type=checkbox].ui-switch:checked:before {
  left: calc(1em + (1em / 20));
}

input[type=checkbox].ui-switch:checked {
  background: $BLUE;
}

input[type=checkbox].ui-switch:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
