@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* color definitions */
$LIME: #8CC34B;
$TURQUOISE: #00BCD5;
$BLUE: #1D8ACF;
$PURPLE: #A768DD;
$YELLOW: #FFC700;
$RED: #EE2239;
$GREEN: #38B74C;
$CYAN: #00C0F5;

/* color definitions (whites) */
$WHITE_0: #FFFFFF;
$WHITE_1: #F3F3F3;
$WHITE_2: #F5F7F6;
$WHITE_3: #EFF3F4;

/* color definitions (greyscale) */
$GREY_0: #EBEBEB;
$GREY_1: #D7D7D7;
$GREY_2: #CBCBCB;
$GREY_3: #C3DAEA;
$GREY_4: #959595;
$GREY_5: #7792A5;
$GREY_6: #555555;
$GREY_7: #1D2B36;
$GREY_8: #17242D;

/* color definitions (slates) */
$LIME_SLATE: #93C566;
$PURPLE_SLATE: #9777A8;
$RED_SLATE: #EE7061;
$BLUE_SLATE: #47A1DD;

/* color definitions (babies) */
$GREEN_BABY: #F3F9EF;
$PURPLE_BABY: #F5EFF9;
$RED_BABY: #F9EFEF;
$BLUE_BABY: #EFF5F9;

/* color aliases */
$PAGE_BACKGROUND_COLOR: $WHITE_3;
$MODULE_BACKGROUND_COLOR: $WHITE_0;
$BREADCRUMB_BACKGROUND_COLOR: $WHITE_2;
$FIELD_BACKGROUND_COLOR: $WHITE_1;
$SIDEBAR_BACKGROUND_COLOR: $GREY_7;
$SIDEBAR_HIGHLIGHT_COLOR: $GREY_8;
$TEXT_REGULAR_COLOR: $GREY_6;
$TEXT-HINT_COLOR: $GREY_1;
$TEXT_SUB_COLOR: $GREY_0;
$TEXT_REGULAR_ON_SIDEBAR_COLOR: $GREY_3;
$TEXT_HINT_ON_SIDEBAR_COLOR: $GREY_5;
$HR_ON_MODULE_COLOR: $GREY_0;
