@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* color definitions */
$LIME: #8CC34B;
$TURQUOISE: #00BCD5;
$BLUE: #1D8ACF;
$PURPLE: #A768DD;
$YELLOW: #FFC700;
$RED: #EE2239;
$GREEN: #38B74C;
$CYAN: #00C0F5;

/* color definitions (whites) */
$WHITE_0: #FFFFFF;
$WHITE_1: #F3F3F3;
$WHITE_2: #F5F7F6;
$WHITE_3: #F2F2F2;
$WHITE_4: #EFF3F6;

/* color definitions (greyscale) */
$GREY_0: #EBEBEB;
$GREY_1: #D7D7D7;
$GREY_2: #CBCBCB;
$GREY_3: #C3DAEA;
$GREY_4: #959595;
$GREY_5: #808a9f;
$GREY_6: #7792A5;
$GREY_7: #555555;
$GREY_8: #1D2B36;
$GREY_9: #17242D;

/* color definitions (slates) */
$LIME_SLATE: #93C566;
$PURPLE_SLATE: #9777A8;
$RED_SLATE: #EE7061;
$BLUE_SLATE: #47A1DD;

/* color definitions (babies) */
$GREEN_BABY: #F3F9EF;
$PURPLE_BABY: #F5EFF9;
$RED_BABY: #F9EFEF;
$BLUE_BABY: #EFF5F9;

/* color aliases */
$PAGE_BACKGROUND_COLOR: $WHITE_4;
$MODULE_BACKGROUND_COLOR: $WHITE_0;
$MODULE_SHADOW_COLOR: $WHITE_3;
$BREADCRUMB_BACKGROUND_COLOR: $WHITE_2;
$FIELD_BACKGROUND_COLOR: $WHITE_1;
$SIDEBAR_BACKGROUND_COLOR: $GREY_8;
$SIDEBAR_HIGHLIGHT_COLOR: $GREY_9;
$TEXT_REGULAR_COLOR: $GREY_5;
$TEXT-HINT_COLOR: $GREY_1;
$TEXT_SUB_COLOR: $GREY_0;
$TEXT_REGULAR_ON_SIDEBAR_COLOR: $GREY_3;
$TEXT_HINT_ON_SIDEBAR_COLOR: $GREY_6;
$HR_ON_MODULE_COLOR: $GREY_0;

/* fonts */
$FONT_FAMILY_DEFAULT: 'Lato', sans-serif;
$FONT_WEIGHT_LIGHT: 300;
$FONT_WEIGHT_NORMAL: 400;
$FONT_WEIGHT_BOLD: 700;
$FONT_SIZE_DEFAULT: 14pt;

/* screen widths */
$DESKTOP_SCREEN_WIDTH_DEFAULT: 1024px;
$TABLET_SCREEN_WIDTH_LANDSCAPE: 1024px;
$TABLET_SCREEN_WIDTH_PORTRAIT: 768px;
$PHONE_SCREEN_WIDTH_LANDSCAPE: 480px;
$PHONE_SCREEN_WIDTH_PORTRAIT: 320px;

/* sizes */
$HEADER_HEIGHT_DEFAULT: 65px;
$BORDER_WIDTH: 2px;
